hr {
    border: none;
    height: 2px;
    background-color: #f0f0f0;
}

strong {
    font-weight: bolder;
}

h1 {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
}

h2, h3, h4, h5 {
    margin-bottom: 10px;
}

a {
    color: #0081f5;
    text-decoration: none;
}

pre {
    display: grid;
    border-radius: 2px 4px 2px 4px;
    position: relative;
}

pre code {
    font-family: Menlo, Monospaced, monospace;
    font-size: 80% !important;
    line-height: 150%;
    border: thin solid darkgray;
    border-radius: 5px;
    background-color: #f0f0f0 !important;
    -webkit-font-smoothing: initial;
}

div code, li code {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 1px 4px 1px 4px;
    font-family: Menlo, Monospaced, monospace;
    font-size: 85%;
    border: solid thin darkgray;
    border-radius: 4px;

}

blockquote {
    margin: 10px 10px;
    padding-left: 15px;
    border-left: 3px solid #f0f0f0;
    border-left-width: thick;
    font-style: italic;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin: 4px 0 4px 0;
    line-height: 120%;
}

.sticky {
    overflow: hidden;
    position: fixed;
    width: 900px;
    margin: auto;
}

.top {
    top: 10px;
}

.bottom {
    bottom: 0;
}

#toc-header {
    margin-top: -10px;
}

body {
    max-width: 900px;
    font-family: sans-serif;
    color: #2e2e2e;
    padding: 4px;
    -webkit-font-smoothing: antialiased;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .body-shifted {
        margin-left: 26%;
    }
    .toc {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    #toc-header {
        margin-top: 40px;
    }
}
