body {
    max-width: 900px;
    font-family: sans-serif;
    color: #2e2e2e;
    padding: 4px;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    cursor: default;
}

hr {
    border: none;
    height: 2px;
    background-color: #f8f8f8;
}

strong {
    font-weight: bolder;
}

h1 {
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 15px;
    margin-top: 5px;
}

h2, h3, h4, h5 {
    margin-bottom: 10px;
}

a {
    color: #07C;
    text-decoration: none;
}

pre {
    display: grid;
    border-radius: 2px 4px 2px 4px;
    position: relative;
}

pre code {
    font-family: Menlo, Monospaced, monospace;
    font-size: 80% !important;
    line-height: 1.5;
    border: thin solid darkgray;
    border-radius: 5px;
    -webkit-font-smoothing: initial;
}

div code, li code {
    display: inline-block;
    background-color: #f8f8f8;
    padding: 2px 4px 2px 4px;
    font-family: Menlo, Monospaced, monospace;
    font-size: 85%;
    border: solid thin darkgray;
    border-radius: 4px;

}

p {
    line-height: 1.25em;
}

blockquote {
    margin: 10px 10px;
    padding-left: 15px;
    border-left: 3px solid #f8f8f8;
    border-left-width: thick;
    font-style: italic;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin: 4px 0 4px 0;
}

.hljs-tag, .hljs-name, .hljs-attribute .hljs-type, .hljs-class .hljs-title {
    color: #07c !important;
}
