table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

td, th {
    border: 1px solid darkgray;
    padding: 8px;
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #f8f8f8;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f8f8f8;
    color: black;
    font-weight: bolder;
}
